history
bookmarks
eshell/*
*\#*
elpa/*
url/*
session.*
abbrev_defs
projectile-bookmarks.eld
/server/*
/irony/*
.python-environments/
recentf
/ac-comphist.dat
curl-cookie-jar
/*.cache
.emacs*
/auto-save-list
